((*- extends 'latex/index.tex.j2' -*))

((* block author *))
\author{Nicolas Grisouard, nicolas.grisouard@utoronto.ca}
((* endblock author *))

((* block date *))
\date{27 July 2021}
((* endblock date *))

((* block title *))
\title{{\small PHY254H1-SUM (Classical Mechanics), University of Toronto} \\ \vspace{2ex} Lecture 7: Coupled oscillators}
((* endblock title *))
