((*- extends 'latex/index.tex.j2' -*))

((* block author *))
\author{Nicolas Grisouard, nicolas.grisouard@utoronto.ca \\
\small{With some input by Profs.\ Stephen Morris, Paul Kushner and Sabine Stanley}}
((* endblock author *))

((* block date *))
\date{10 August 2021}
((* endblock date *))

((* block title *))
\title{{\small PHY254H1-SUM (Classical Mechanics), University of Toronto} \\ \vspace{2ex} Lecture 11: Nonlinear oscillations}
((* endblock title *))
