((*- extends 'latex/index.tex.j2' -*))

((* block author *))
\author{Nicolas Grisouard, nicolas.grisouard@utoronto.ca}
((* endblock author *))

((* block date *))
\date{6 July 2021}
((* endblock date *))

((* block affiliation *))
\affiliation{PHY254H1-SUM -- University of Toronto}
((* endblock affiliation *))

((* block title *))
\title{Lecture 01: $\vec F  = m\vec a$ problems}
((* endblock title *))
